{{ define "main" }}
<div class="row flex-xl-nowrap">
	<div class="col-lg-5 col-xl-4 docs-sidebar d-none d-lg-block">
		<nav class="docs-links" aria-label="Main navigation">
			{{ partial "sidebar/resources-menu.html" . }}
		</nav>
	</div>
	<main class="docs-content col-lg-11 mx-xl-auto">
    <h1 class="text-center">
    {{ if eq .CurrentSection .FirstSection }}
      {{ .Section | humanize }}
    {{ else }}
      {{ .Title }}
    {{ end }}
    </h1>
		<div class="row row-cols-1 row-cols-md-1 g-5">
		{{ range .Pages.ByTitle}}
			<div class="col">
				{{ .Render "resources-card" -}}
			</div>
		{{ end }}
		</div>
	</main>
</div>
{{ end }}
