{{ if or (not (isset .Params "show")) (eq .Params.show true) }}
<div class="card">
  <div class="card-body">
    <h5 class="card-title mt-2"><a class="card-link text-dark text-decoration-none" href="{{ .RelPermalink }}">{{ .Params.title | title }}</a></h5>
    <p class="card-text mt-2 medium-icon">
    {{ if .Params.medium -}}
    {{ partial "utilities/mediumIcon"  (dict "context" . "mediumIcon" .Params.medium_icon) }}
    {{ range $index, $type := .Params.medium }}
    {{ if gt $index 0 }}, {{ end }}
      <a class="position-relative" href="{{ "/medium/" | relURL }}{{ . | urlize }}/">
        {{ . | humanize }}
      </a>
    {{ end -}}
    {{ end -}}

    {{ if .Params.authored_by -}}
      &nbsp— {{ i18n "authored-by" }}
    {{ range $index, $author := .Params.authored_by }}
    {{ if gt $index 0 }}, {{ end }}
      {{ . }}
    {{ end -}}
    ({{ .Params.publish_date }})
    {{ end -}}
    </p>
    <p class="card-text mb-2">
      <small>
        {{ .Params.description | safeHTML | truncate 400 }} <a href="{{ .RelPermalink }}">&rarr;</a>
      </small>
    </p>
    <div class="mt-4">
      {{ $langPrefix := "/" }}
      {{ if ne $.Site.Language.Lang "en" }}
        {{ $langPrefix = printf "/%s/" $.Site.Language.Lang }}
      {{ end }}
      {{ $topicURL := printf "%sresources/topics/" $langPrefix }}
      {{ range $index, $tag := .Params.topics -}}
        <a class="btn btn-light" href="{{ $topicURL | relURL }}{{ . | urlize }}/" role="button">{{ . }}</a>
      {{ end -}}
    </div>
  </div>
</div>
{{ end }}
