{{ define "main" }}
	<div class="row flex-xl-nowrap">
		<div class="col-lg-5 col-xl-4 docs-sidebar d-none d-lg-block">
			<nav class="docs-links" aria-label="Main navigation">
				{{ partial "sidebar/resources-menu.html" . }}
			</nav>
		</div>
		<nav class="docs-toc d-none d-xl-block col-xl-3" aria-label="Secondary navigation">
			{{ partial "sidebar/docs-toc.html" . }}
		</nav>
		<main class="docs-content col-lg-11 col-xl-9">
      {{ if .Site.Params.options.breadCrumb -}}
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath 
d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          {{ partial "main/breadcrumb" . -}}
          <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
        </ol>
      </nav>
      {{ end }}
			<h1>{{ .Title }}</h1>
      <p>
      {{ if .Params.original_title -}}
      {{ i18n "original-title" }} {{ .Params.original_title }}
      {{ end -}}
      </p>
			<div class="showcase-meta d-flex justify-content-between">
        <span class="fw-bold medium-icon">
        {{ if .Params.medium -}}
        {{ partial "utilities/mediumIcon"  (dict "context" . "mediumIcon" .Params.medium_icon) }}
        {{ range $index, $type := .Params.medium }}
        {{ if gt $index 0 }}, {{ end }}
          <a class="stretched-link position-relative" href="{{ "/medium/" | relURL }}{{ . | urlize }}/">
            {{ . | humanize }}
          </a>
        {{ end -}}
        {{ end -}}

        {{ if .Params.authored_by -}}
        — by
        {{ range $index, $author := .Params.authored_by }}
        {{ if gt $index 0 }}, {{ end }}
          {{ . }}
        {{ end -}}
        ({{ .Params.publish_date }})
        {{ end -}}
		  		<span>
		  			<a class="view-website" href="{{ .Params.follow_url }}" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></a>
		  		</span>
     		</div>
        <br>
			{{ partial "main/headline-hash.html" .Content }}
			{{ if .Params.topics -}}
				<h3>Topics</h3>
        {{ range $index, $tag := .Params.topics -}}
        {{ $langPrefix := "" }}
        {{ if ne $.Site.Language.Lang "en" }}
          {{ $langPrefix = printf "/%s/" $.Site.Language.Lang }}
        {{ end }}
        {{ $topicURL := printf "%sresources/topics/%s/" $langPrefix ($tag | urlize) }}
          <a class="btn btn-light" href="{{ $topicURL | absURL }}" role="button">{{ . }}</a>
        {{ end -}}
			{{ end -}}
			{{ partial "main/docs-navigation.html" . }}
		</main>
	</div>
{{ end }}
