{{ if and .Site.Params.menu.section.auto .Site.Params.menu.section.collapsibleSidebar -}}
1
  {{ partial "sidebar/auto-collapsible-menu.html" . -}}
{{ else if and .Site.Params.menu.section.auto (not .Site.Params.menu.section.collapsibleSidebar) -}}
2
  {{ partial "sidebar/auto-default-menu.html" . -}}
{{ else if and (not .Site.Params.menu.section.auto) .Site.Params.menu.section.collapsibleSidebar -}}
3
  {{ partial "sidebar/manual-collapsible-menu.html" . -}}
{{ else if and (not .Site.Params.menu.section.auto) (not .Site.Params.menu.section.collapsibleSidebar) -}}
4
  {{ partial "sidebar/manual-default-menu.html" . -}}
{{ end -}}
