{{ $currentPage := . -}}

<h3>{{ i18n "browse" }}</h3>
<ul class="list-unstyled">
  {{ $active := or (eq $currentPage.Title "Resources") (eq .Type "resources") -}}
  <li><a class="docs-link d-flex{{ if $active }} active{{ end }}" href="{{ "resources/" | relLangURL }}"><span>{{ i18n "all-resources" }}</span><span class="badge bg-light text-dark fw-normal ms-auto me-lg-4">{{ len (where .Site.RegularPages "Section" "==" "resources") }}</span></a></li>
</ul>

<h3>{{ i18n "medium" }}</h3>
<ul class="list-unstyled">
  {{ range .Site.Taxonomies.medium }}
    {{ $active := eq .Page.Title $currentPage.Title -}}
    <li><a class="docs-link d-flex{{ if $active }} active{{ end }}" href="{{ .Page.Permalink }}"><span>{{ .Page.Title | title }}</span><span class="badge bg-light text-dark fw-normal ms-auto me-lg-4">{{ .Count }}</span></a></li>
  {{ end }}
</ul>

<h3>{{ i18n "topics" }}</h3>
<ul class="list-unstyled">
  {{ range .Site.Taxonomies.topics }}
    {{ $active := eq .Page.Title $currentPage.Title -}}
    <li><a class="docs-link d-flex{{ if $active }} active{{ end }}" href="{{ .Page.Permalink }}"><span>{{ .Page.Title | title }}</span><span class="badge bg-light text-dark fw-normal ms-auto me-lg-4">{{ .Count }}</span></a></li>
  {{ end }}
</ul>
