{{ $parts := slice .Site.Params.docsRepo }}

{{ if (eq .Site.Params.repoHost "GitHub") }}
  {{ $parts = $parts | append "blob" .Site.Params.docsRepoBranch }}
{{ else if (eq .Site.Params.repoHost "Gitea") }}
  {{ $parts = $parts | append "_edit" .Site.Params.docsRepoBranch }}
{{ else if (eq .Site.Params.repoHost "GitLab") }}
  {{ $parts = $parts | append "-/blob" .Site.Params.docsRepoBranch }}
{{ else if (eq .Site.Params.repoHost "Bitbucket") }}
  {{ $parts = $parts | append "src" .Site.Params.docsRepoBranch }}
{{ else if (eq .Site.Params.repoHost "BitbucketServer") }}
  {{ $parts = $parts | append "browse" .Site.Params.docsRepoBranch }}
{{ end }}

{{ if isset .Site.Params "docsreposubpath" }}
  {{ if not (eq .Site.Params.docsRepoSubPath "") }}
    {{ $parts = $parts | append .Site.Params.docsRepoSubPath }}
  {{ end }}
{{ end }}

{{ $filePath := replace .File.Path "\\" "/" }}

{{ $parts = $parts | append "content" .Lang $filePath }}

{{ $url := delimit $parts "/" }}

<div class="edit-page">
  <a href="{{ $url }}" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2">
      <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
    </svg>
    {{ i18n "edit-page-on" }}
  </a>
</div>

{{ if ne .Site.Language.Lang "en" }}
<div class="translation-notification">
  <a href="{{ $url }}" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
    {{ .Params.translationcompletion }}
      {{ $translators := .Params.translatedby }}
      {{ $completion := .Params.translationrate }}
      {{ if $completion }}
        {{ $completion = printf "%s%%" (printf "%v" $completion) }}
      {{ else }}
        {{ $completion = (i18n "undefined") }}
      {{ end }}
      {{ $translatorText := "" }}
      {{ if $translators }}
        {{ range $index, $translator := $translators }}
          {{ $translatorText = print $translatorText $translator }}
          {{ if lt $index (sub (len $translators) 1) }}
            {{ $translatorText = print $translatorText ", " }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ if $translators }}
        {{ i18n "translated-by" }} {{ $translatorText }}. {{ i18n "translation-rate" }}: {{ $completion }}.
      {{ else }}
        {{ if $completion }}
          {{ i18n "translation-rate" }}: {{ $completion }}.
        {{ else }}
          {{ i18n "undefined" }}
        {{ end }}
      {{ end }}
  </a>
</div>
{{ end }}
