{{ define "main" }}
{{ if .Site.Params.options.breadCrumb -}}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
	<ol class="breadcrumb">
		{{ partial "main/breadcrumb" . -}}
		<li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
	</ol>
</nav>
{{ end }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
		<h1 class="text-center">{{ if eq .CurrentSection .FirstSection }}{{ .Section | humanize }}{{ else }}{{ .Title }}{{ end }}</h1>
		<div class="text-center">{{ .Content }}</div>
		<div class="card-list">
			{{ $currentSection := .CurrentSection }}
			{{ range $currentSection.Sections }}
				<div class="card my-3">
					<div class="card-body">
						<a class="stretched-link" href="{{ .RelPermalink }}">{{ .Title | title }} &rarr;</a>
					</div>
				</div>
				{{ range .Pages }}
					<div class="card my-3">
						<div class="card-body">
							<b><a class="stretched-link" href="{{ .RelPermalink }}">{{ .Title | title }} &rarr;</a></b>
							<p class="card-subtitle">{{ .Description }}</p>
							<p class="card-text">{{ .Content | plainify | htmlUnescape | truncate 600 }}</p>
						</div>
					</div>
				{{ end }}
			{{ end }}
			{{ range where .Site.RegularPages.ByTitle "Section" $currentSection.RelPermalink }}
				<div class="card my-3">
					<div class="card-body">
						<a class="stretched-link" href="{{ .RelPermalink }}">{{ .Title | title }} &rarr;</a>
					</div>
				</div>
			{{ end }}
			{{ range $currentSection.Pages }}
				<div class="card my-3">
					<div class="card-body">
						<b><a class="stretched-link" href="{{ .RelPermalink }}">{{ .Title | title }} &rarr;</a></b>
						<p class="card-subtitle">{{ .Description }}</p>
						<p class="card-text">{{ .Content | truncate 600 }}</p>
					</div>
				</div>
			{{ end }}
			</div>
	
    </article>
  </div>
</div>
{{ end }}