{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 mx-xl-auto">
	<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
		<ol class="breadcrumb">
			{{ partial "main/breadcrumb" . -}}
			<li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
		</ol>
	</nav>
    <article>
		{{ $chapterTitle := "" }}
		{{ if .Params.Chapter }}
		  {{ $chapterTitle = printf "%s %s —" (i18n "chapter") .Params.Chapter }}
		{{ end }}
		<h1>{{ $chapterTitle }} {{ .Title }}</h1>
		<div>{{ .Description }}</div>
		<div class="card-list">
			{{ $currentSection := .CurrentSection }}
			{{ range $currentSection.Sections }}
   		  {{ $chapterTitle := "" }}
        {{ if .Params.Chapter }}
		      {{ $chapterTitle = printf "%s %s —" (i18n "chapter") .Params.Chapter }}
		    {{ end }}
		    <h2>{{ $chapterTitle }} {{ .Title }}</h2>
        	<p>{{ .Description }}</p>
				{{ range .Pages }}
					<div class="card my-3">
						<div class="card-body">
							<h4 class="card-title"><a class="stretched-link" href="{{ .RelPermalink }}">{{ .Params.Chapter }} {{ .Title | title }} &rarr;</a></h4>
							{{ if .Params.Period }}<h6 class="card-subtitle">{{ .Params.Period }}</h6>{{ end }}
							<p class="card-text">{{ .Description | plainify | htmlUnescape }}</p>
							{{- .Scratch.Set "fillImage" "1270x620 Center" -}}
							{{ partial "content/card-image-bottom.html" . }}
						</div>
					</div>
				{{ end }}
			{{ end }}
			{{ range where .Site.RegularPages.ByTitle "Section" $currentSection.RelPermalink }}
				<div class="card my-3">
					<div class="card-body">
						<a href="{{ .RelPermalink }}">{{ .Params.Chapter }} {{ .Title | title }} &rarr;</a>
					</div>
				</div>
			{{ end }}
			{{ range $currentSection.Pages }}
        {{ if not (in (slice "1" "2" "3" "4") .Params.Chapter) }}
				<div class="card my-3">
					<div class="card-body">
						<h4 class="card-title"><a class="stretched-link" href="{{ .RelPermalink }}">{{ .Params.Chapter }} {{ .Title | title }} &rarr;</a></h4>
						{{ if .Params.Period }}<h6 class="card-subtitle">{{ .Params.Period }}</h6>{{ end }}
            			<p class="card-text">{{ .Description | plainify | htmlUnescape }}</p>
						{{- .Scratch.Set "fillImage" "1270x620 Center" -}}
						{{ partial "content/card-image-bottom.html" . }}
					</div>
				</div>
        {{ end }}
			{{ end }}
			</div>

    </article>
  </div>
</div>
{{ end }}
