{{ $currentPage := . }}
{{ $relatedArticles := slice }}

{{ range .Site.RegularPages }}
  {{ if in .Content (printf "[[%s]]" $currentPage.RelPermalink) }}
    {{ $relatedArticles = $relatedArticles | append . }}
  {{ end }}
{{ end }}

{{ if $relatedArticles }}
  <h3>Mentioned in</h3>
  <ul>
    {{ range $relatedArticles }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
{{ else }}
  <p>No articles found mentioning this one.</p>
  <p>Current Page URL: {{ $currentPage.RelPermalink }}</p>
  <p>Current Page Content:</p>
  <pre>{{ $currentPage.Content }}</pre>
{{ end }}
