{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-lg-5 col-xl-4 docs-sidebar{{ if ne .Site.Params.options.navbarSticky true }} docs-sidebar-top{{ end }} d-none d-lg-block">
    <nav  id="sidebar-default" class="docs-links" aria-label="Main navigation">
      {{ partial "sidebar/docs-menu.html" . }}
    </nav>
  </div>
  <div class="col-md-12 col-lg-10 mx-xl-auto">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb">
        {{ partial "main/breadcrumb" . -}}
        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
      </ol>
    </nav>
    <article>
      <h1>{{ .Title }}</h1>
      {{ $langPrefix := "/" }}
      {{ if ne $.Site.Language.Lang "en" }}
        {{ $langPrefix = printf "/%s/" $.Site.Language.Lang }}
      {{ end }}
      {{ $encyclopediaURL := printf "%swiki/encyclopedia/" $langPrefix }}
      <div class="d-flex justify-content-start card-list">
        <a href="{{ $encyclopediaURL }}">
          <div class="card my-1">
            <div class="card-body py-2">
              {{ i18n "see-all-wiki-entries" }}&rarr;
            </div>
          </div>
        </a>
      </div>
      {{ .Content }}
      <h3>{{ i18n "iceberg-title" }}</h3>
      <p>{{ i18n "iceberg-description" }}</p>
      <div class="card-list">
        {{ $currentSection := .CurrentSection }}
        {{ range where .Site.RegularPages.ByTitle "Section" .Section }}
          {{ if ge .Params.iceberg 1}}
            <div class="card my-3">
              <div class="card-body">
                <b><a href="{{ .RelPermalink }}">{{ .Params.title | title }} &rarr;</a></b>
                <p class="card-title">{{ i18n "iceberg-depth" }}: {{ .Params.iceberg }}</p>
                <p class="card-text">{{ .Params.lead }}</p>
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </article>
  </div>
</div>
{{ end }}

