.timeline-box {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
  padding: 10px 0;
}

.timeline-box .date {
  flex: 1;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
}

.timeline-box .date.left {
  text-align: left;
}

.timeline-box .date.right {
  text-align: right;
}