.timeline {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 2em;
}

.age {
  width: 61px;
  height: 61px;
  padding: 2px;
  text-align: center;
  border: 1px solid $gray-300;
  border-right: none;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-child {
    border-right: 1px solid $gray-300;
  }

  img {
    width: 100%;
    height: auto;
    fill: white;
  }

  .zodiac-image {
    fill: white;
  }

  &.current {
    background-color: $mauve;
  }

  .period {
    position: absolute;
    bottom: -20px;  /* adjust as needed */
    left: 0;
    width: 120%;
    font-size: 0.5em;  /* adjust as needed */
  }
}
