.timeline {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.age {
  width: 61px;
  height: 61px;
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
  border-right: none;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-child {
    border-right: 1px solid #000;
  }

  img {
    width: 100%;
    height: auto;
  }

  &.current {
    background-color: $mauve;
  }

  .period {
    position: absolute;
    bottom: -20px;  /* adjust as needed */
    left: 0;
    width: 100%;
    font-size: 0.8em;  /* adjust as needed */
  }
}

