.timeline {
  display: flex;
  align-items: flex-start;
  padding-bottom: 2em;
}

.zodiac-link {
  color: inherit;
  text-decoration: none;
}

.age {
  width: 32px;
  padding: 5px;
  text-align: center;
  border: 1px solid $gray-300;
  border-right: none;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-child {
    border-right: 1px solid $gray-300;
  }

  &.current {
    background-color: $mauve;
  }

  &.chronology {
    background-color: $magic-mint;
    border: 0.1rem solid $body-color;
  }

  .start {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 110%;
    font-size: 0.5em;
  }

  .end {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 110%;
    font-size: 0.5em;
  }
}
