.wac {
  aspect-ratio: 1;
  transform-origin: center;
  margin-bottom: 5%;
}
.wac-arcs {
  transform-origin: 50% 50%;;
}
.wac-arcs path {
  fill: $white;
  stroke: $magic-mint;
}
.wac-arcs path:hover {
  fill: $magic-mint;
}
.wac-text {
  fill: var(--light);
  font-weight: 500;
  letter-spacing: -0.065em;
  pointer-events: none;
  text-anchor: middle;
  font-size: .6em;
}

.wac use {
  pointer-events: none;
}