{{ define "main" }}
<div class="row flex-xl-nowrap">
	<div class="col-lg-5 col-xl-4 docs-sidebar d-none d-lg-block">
		<nav class="docs-links" aria-label="Main navigation">
			{{ partial "sidebar/resources-menu.html" . }}
		</nav>
	</div>
	<main class="docs-content col-lg-11 mx-xl-auto">
		{{ $lang := $.Site.Language.Lang }}
		{{ $mediaType := .Title }}
		{{ $pageTitle := $mediaType }}
		{{ $pageDescription := "" }}
		{{ range $.Site.Data.mediatypes }}
		  {{ if eq .id $mediaType }}
			{{ $titleInCurrentLang := index .title $lang }}
			{{ if $titleInCurrentLang }}
			  {{ $pageTitle = $titleInCurrentLang }}
			{{ else if index .title "en" }}
			  {{ $pageTitle = index .title "en" }}
			{{ end }}
		
			{{ if and .description (index .description $lang) }}
			  {{ $descriptionInCurrentLang := index .description $lang }}
			  {{ $pageDescription = $descriptionInCurrentLang }}
			{{ else if and .description (index .description "en") }}
			  {{ $pageDescription = index .description "en" }}
			{{ end }}
		  {{ end }}
		{{ end }}
		<h2>{{ $pageTitle }} ({{ i18n "medium" }})</h2>
		<p>{{ $pageDescription }}</p>			
		<div class="row row-cols-1 row-cols-md-1 g-5">
			{{ range .Data.Pages.ByWeight.Reverse -}}
				<div class="card my-3">
					{{ .Render "resources-card" -}}
				</div>
			{{ end }}
		</div>
	</main>
</div>
{{ end }}
