{{ define "main" }}
<div class="row flex-xl-nowrap">
	<main class="docs-content col-lg-11 mx-xl-auto">
		<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
			<ol class="breadcrumb">
				{{ partial "main/breadcrumb" . -}}
				<li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
			</ol>
		</nav>
		<h1>{{ .Title }}</h1>
		<div>{{ .Description }}</div>
		{{ $langPrefix := "/" }}
		{{ if ne $.Site.Language.Lang "en" }}
		  {{ $langPrefix = printf "/%s/" $.Site.Language.Lang }}
		{{ end }}
		{{ $resourcesURL := printf "%sresources/" $langPrefix }}
		<div class="card-list">
			{{ range .Data.Pages.ByTitle }}
			<div class="card my-3">
				<div class="card-body">
				<a class="stretched-link" href="{{ .RelPermalink }}">
					{{ partial "utilities/tagsTitle" (dict "tag" .Params.title "site" .Site) }}&rarr;
				</a>
				{{ partial "utilities/tagsDescription" (dict "tag" .Params.title "site" .Site) }}
				</div>
			</div>
			{{ end }}
		</div>
	</main>
</div>
{{ end }}
