<!--
<footer class="footer text-muted">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
    </div>
  </div>
</footer>
-->

<footer class="footer">
    <div class="container">
      <p class="text-muted">{{ .Site.Params.footerHead | safeHTML }}</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
              <h5>{{ .Site.Params.title | safeHTML }}</h5>
                <ul class="list-unstyled">
                  <li><a href="{{ .Site.Params.footerAboutLink | safeHTML }}">{{ .Site.Params.footerAbout | safeHTML }}</a></li>
                  <li><a href="{{ .Site.Params.footerHelloWorldLink | safeHTML }}">{{ .Site.Params.footerHelloWorld | safeHTML }}</a></li>
                  <li><a href="{{ .Site.Params.footerFAQLink | safeHTML }}">{{ .Site.Params.footerFAQ | safeHTML }}</a></li>
                  <li><a href="https://github.com/wheelofheaven/.github/blob/main/profile/WHITEPAPER.md">{{ .Site.Params.footerWhitePaper | safeHTML }}</a></li>
            </div>
            <div class="col-md-3 mb-3">
                <h5>{{ .Site.Params.footerSections | safeHTML }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ .Site.Params.footerHomeLink | safeHTML }}">{{ .Site.Params.footerHome | safeHTML }}</a></li>
                    <li><a href="{{ .Site.Params.footerIntroLink | safeHTML }}">{{ .Site.Params.footerIntro | safeHTML }}</a></li>
                    <li><a href="{{ .Site.Params.footerWikiLink | safeHTML }}">{{ .Site.Params.footerWiki | safeHTML }}</a></li>
                    <li><a href="{{ .Site.Params.footerArticlesLink | safeHTML }}">{{ .Site.Params.footerArticles | safeHTML }}</a></li>
                    <li><a href="{{ .Site.Params.footerResourcesLink | safeHTML }}">{{ .Site.Params.footerResources | safeHTML }}</a></li>
                </ul>
                <h5>{{ .Site.Params.footerJumpRightIn | safeHTML }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ .Site.Params.footerTheSettingLink | safeHTML }}">{{ .Site.Params.footerTheSetting | safeHTML }}</a></li>
                    <li><a href="{{ .Site.Params.footerTheFoundationLink | safeHTML }}">{{ .Site.Params.footerTheFoundation | safeHTML }}</a></li>
                    <li><a href="{{ .Site.Params.footerTheHypothesisLink| safeHTML }}">{{ .Site.Params.footerTheHypothesis | safeHTML }}</a></li>
                    <li><a href="{{ .Site.Params.footerPreambleLink | safeHTML }}">{{ .Site.Params.footerPreamble | safeHTML }}</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-3">
                <h5>{{ .Site.Params.footerCommunity | safeHTML }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ .Site.Params.footerCommunityLink | safeHTML }}">{{ .Site.Params.footerCommunity | safeHTML }}</a></li>
                    <li><a href="https://github.com/wheelofheaven/site/blob/main/CODE_OF_CONDUCT.md">{{ .Site.Params.footerCodeOfConduct | safeHTML }}</a></li>
                    <li><a href="https://github.com/orgs/wheelofheaven/discussions">{{ .Site.Params.footerGithubDiscussion | safeHTML }}</a></li>
                    <li><a href="https://opencollective.com/wheelofheaven">Open Collective</a></li>
                    <li><a href="https://github.com/wheelofheaven/site/blob/main/LICENSE">{{ .Site.Params.OpenSource | safeHTML }}</a></li>
                </ul>
                <h5>{{ .Site.Params.footerSocialMedia | safeHTML }}</h5>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/wheelofheaven/">GitHub</a></li>
                    <li><a href="https://opencollective.com/wheelofheaven">Telegram</a></li>
                    <li><a href="https://opencollective.com/wheelofheave">𝕏</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-3">
                <h5>{{ .Site.Params.footerPlatform | safeHTML }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ .Site.Params.footerTagsLink | safeHTML }}">{{ .Site.Params.footerTags | safeHTML }}</a></li>
                    <li><a href="{{ .Site.Params.footerCategoriesLink | safeHTML }}">{{ .Site.Params.footerCategories | safeHTML }}</a></li>
                    <li><a href="{{ .Site.Params.footerContributorsLink | safeHTML }}">{{ .Site.Params.footerContributors | safeHTML }}</a></li>
                    <li><a href="https://github.com/wheelofheaven/site/blob/main/CONTRIBUTE.md">{{ .Site.Params.footerContribute | safeHTML }}</a></li>
                    <li><a href="https://github.com/wheelofheaven/site/blob/main/CHANGELOG.md">{{ .Site.Params.footerChangelog | safeHTML }}</a></li>
                    <li><a href="https://github.com/wheelofheaven/site/graphs/commit-activity">{{ .Site.Params.footerCommitActivity | safeHTML }}</a></li>
                    <li><a href="https://github.com/wheelofheaven/site/blob/main/README.md">{{ .Site.Params.footerReadme | safeHTML }}</a></li>
                    <li><a href="{{ .Site.Params.footerRssFeedLink | safeHTML }}">{{ .Site.Params.footerRssFeed | safeHTML }}</a></li>
               </ul>
            </div>
            <div class="col-md-3 mb-3">
                <h5>{{ .Site.Params.footerPrivacyTerms | safeHTML }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ .Site.Params.footerPrivacyPolicyLink | safeHTML }}">{{ .Site.Params.footerPrivacyPolicy | safeHTML }}</a></li>
                    <li><a href="{{ .Site.Params.footerCookiePolicyLink | safeHTML }}">{{ .Site.Params.footerCookiePolicy | safeHTML }}</a></li>
                    <li><a href="https://github.com/wheelofheaven/site/blob/main/SECURITY.md">{{ .Site.Params.footerSecurityPolicy | safeHTML }}</a></li>
                    <li><a href="{{ .Site.Params.footerContactLink | safeHTML }}">{{ .Site.Params.footerContact | safeHTML }}</a></li>
               </ul>
            </div>

        </div>
        <div class="footer row">
            <div class="col-12">
                <ul class="list-inline mt-4">
                    <li class="list-inline-item">{{ .Site.Params.footerClosure | safeHTML }}</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
