<footer class="footer">
  <div class="footer__content">
    <div class="footer__grid">
      <!-- Branding Column -->
      <div class="footer__col footer__col--brand">
        <h3 class="footer__brand">{{ partial "branding/wordmark.html" }}</h3>
        <p class="footer__muted">{{ .Site.Params.footerHead | safeHTML }}</p>
      </div>

      <!-- Get Started -->
      <div class="footer__col">
        <h6>
          {{ .Site.Params.footerGetStarted | default "Get Started" | safeHTML }}
        </h6>
        <ul>
          <li>
            <a href="{{ .Site.Params.footerAboutLink | safeURL }}"
              >{{ .Site.Params.footerAbout | safeHTML }}</a
            >
          </li>
          <li>
            <a href="{{ .Site.Params.footerHelloWorldLink | safeURL }}"
              >{{ .Site.Params.footerHelloWorld | safeHTML }}</a
            >
          </li>
          <li>
            <a href="{{ .Site.Params.footerFAQLink | safeURL }}"
              >{{ .Site.Params.footerFAQ | safeHTML }}</a
            >
          </li>
          <li>
            <a
              href="https://github.com/wheelofheaven/.github/blob/main/profile/WHITEPAPER.md"
              >White Paper</a
            >
          </li>
        </ul>

        <h6>{{ .Site.Params.footerJumpRightIn | safeHTML }}</h6>
        <ul>
          <li>
            <a href="{{ .Site.Params.footerTheSettingLink | safeURL }}"
              >{{ .Site.Params.footerTheSetting | safeHTML }}</a
            >
          </li>
          <li>
            <a href="{{ .Site.Params.footerTheFoundationLink | safeURL }}"
              >{{ .Site.Params.footerTheFoundation | safeHTML }}</a
            >
          </li>
          <li>
            <a href="{{ .Site.Params.footerTheHypothesisLink | safeURL }}"
              >{{ .Site.Params.footerTheHypothesis | safeHTML }}</a
            >
          </li>
          <li>
            <a href="{{ .Site.Params.footerPreambleLink | safeURL }}"
              >{{ .Site.Params.footerPreamble | safeHTML }}</a
            >
          </li>
        </ul>
      </div>

      <!-- Sections -->
      <div class="footer__col">
        <h6>{{ .Site.Params.footerSections | safeHTML }}</h6>
        <ul>
          <li>
            <a href="{{ .Site.Params.footerHomeLink | safeURL }}"
              >{{ .Site.Params.footerHome | safeHTML }}</a
            >
          </li>
          <li>
            <a href="{{ .Site.Params.footerIntroLink | safeURL }}"
              >{{ .Site.Params.footerIntro | safeHTML }}</a
            >
          </li>
          <li>
            <a href="{{ .Site.Params.footerWikiLink | safeURL }}"
              >{{ .Site.Params.footerWiki | safeHTML }}</a
            >
          </li>
          <li>
            <a href="{{ .Site.Params.footerArticlesLink | safeURL }}"
              >{{ .Site.Params.footerArticles | safeHTML }}</a
            >
          </li>
          <li>
            <a href="{{ .Site.Params.footerResourcesLink | safeURL }}"
              >{{ .Site.Params.footerResources | safeHTML }}</a
            >
          </li>
        </ul>

        <h6>{{ .Site.Params.footerPlatform | safeHTML }}</h6>
        <ul>
          <li>
            <a href="{{ .Site.Params.footerTagsLink | safeURL }}"
              >{{ .Site.Params.footerTags | safeHTML }}</a
            >
          </li>
          <li>
            <a href="{{ .Site.Params.footerCategoriesLink | safeURL }}"
              >{{ .Site.Params.footerCategories | safeHTML }}</a
            >
          </li>
          <li>
            <a href="{{ .Site.Params.footerContributorsLink | safeURL }}"
              >{{ .Site.Params.footerContributors | safeHTML }}</a
            >
          </li>
          <li>
            <a href="{{ .Site.Params.footerRssFeedLink | safeURL }}"
              >{{ .Site.Params.footerRssFeed | safeHTML }}</a
            >
          </li>
        </ul>
      </div>

      <!-- Community -->
      <div class="footer__col">
        <h6>{{ .Site.Params.footerCommunity | safeHTML }}</h6>
        <ul>
          <li>
            <a href="{{ .Site.Params.footerCommunityLink | safeURL }}"
              >{{ .Site.Params.footerCommunity | safeHTML }}</a
            >
          </li>
          <li>
            <a
              href="https://github.com/wheelofheaven/site/blob/main/CODE_OF_CONDUCT.md"
              >{{ .Site.Params.footerCodeOfConduct | safeHTML }}</a
            >
          </li>
          <li>
            <a href="https://github.com/orgs/wheelofheaven/discussions"
              >{{ .Site.Params.footerGithubDiscussion | safeHTML }}</a
            >
          </li>
          <li>
            <a href="https://opencollective.com/wheelofheaven"
              >Open Collective</a
            >
          </li>
          <li>
            <a href="https://github.com/wheelofheaven/site/blob/main/LICENSE"
              >{{ .Site.Params.OpenSource | safeHTML }}</a
            >
          </li>
        </ul>

        <h6>{{ .Site.Params.footerSocialMedia | safeHTML }}</h6>
        <ul>
          <li><a href="https://github.com/wheelofheaven/">GitHub</a></li>
          <li>
            <a href="https://opencollective.com/wheelofheaven">Telegram</a>
          </li>
          <li><a href="https://opencollective.com/wheelofheaven">𝕏</a></li>
        </ul>
      </div>

      <!-- Development & Legal -->
      <div class="footer__col">
        <h6>
          {{ .Site.Params.footerDevelopment | default "Development" | safeHTML
          }}
        </h6>
        <ul>
          <li>
            <a
              href="https://github.com/wheelofheaven/site/blob/main/CONTRIBUTE.md"
              >{{ .Site.Params.footerContribute | safeHTML }}</a
            >
          </li>
          <li>
            <a
              href="https://github.com/wheelofheaven/site/blob/main/CHANGELOG.md"
              >{{ .Site.Params.footerChangelog | safeHTML }}</a
            >
          </li>
          <li>
            <a
              href="https://github.com/wheelofheaven/site/graphs/commit-activity"
              >{{ .Site.Params.footerCommitActivity | safeHTML }}</a
            >
          </li>
          <li>
            <a href="https://github.com/wheelofheaven/site/blob/main/README.md"
              >{{ .Site.Params.footerReadme | safeHTML }}</a
            >
          </li>
        </ul>

        <h6>{{ .Site.Params.footerPrivacyTerms | safeHTML }}</h6>
        <ul>
          <li>
            <a href="{{ .Site.Params.footerPrivacyPolicyLink | safeURL }}"
              >{{ .Site.Params.footerPrivacyPolicy | safeHTML }}</a
            >
          </li>
          <li>
            <a href="{{ .Site.Params.footerCookiePolicyLink | safeURL }}"
              >{{ .Site.Params.footerCookiePolicy | safeHTML }}</a
            >
          </li>
          <li>
            <a
              href="https://github.com/wheelofheaven/site/blob/main/SECURITY.md"
              >{{ .Site.Params.footerSecurityPolicy | safeHTML }}</a
            >
          </li>
          <li>
            <a href="{{ .Site.Params.footerContactLink | safeURL }}"
              >{{ .Site.Params.footerContact | safeHTML }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__bottom-grid">
      <div class="footer__closure">
        {{ .Site.Params.footerClosure | safeHTML }}
      </div>
      <div class="footer__socials">
        {{- range .Site.Menus.social }}
        <a
          class="footer__social-link"
          href="{{ .URL | relURL }}"
          target="_blank"
          rel="noopener"
          aria-label="{{ .Name }}"
          title="{{ .Name }}"
        >
          {{ .Pre | safeHTML }}
        </a>
        {{- end }}
      </div>
    </div>
  </div>
</footer>
