{{ $image := "" }}
{{ $lqip := "" }}
{{ $fillImage := "" }}

{{ if .Scratch }}
  {{ $fillImage = .Scratch.Get "fillImageCard" }}
{{ end }}

{{ if not $fillImage }}
  {{ with site.Params.fillImage }}
    {{ $fillImage = . }}
  {{ end }}
{{ end }}

{{ if .Params.images }}
  {{ $imageResource := .Resources.GetMatch (printf "**%s" (index .Params.images 0)) }}
  {{ if $imageResource }}
    {{ $webp := printf "%s%s" $fillImage " webp" }}
    {{ $image = $imageResource.Resize $webp }}
    {{ $lqip = $image.Resize site.Params.lqipWidth }}
  {{ else }}
    {{ $defaultImagePath := printf "%s%s" "images/" site.Params.defaultImage }}
    {{ $image = resources.Get $defaultImagePath }}
    {{ if $image }}
      {{ $webp := printf "%s%s" $fillImage " webp" }}
      {{ $image = $image.Resize $webp }}
      {{ $lqip = $image.Resize site.Params.lqipWidth }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if $image }}
  <img
    class="card-img-top img-fluid lazyload blur-up"
    src="{{ $lqip.Permalink }}"
    data-src="{{ $image.Permalink }}"
    width="{{ $image.Width }}"
    height="{{ $image.Height }}"
    alt="{{ .Title }}">
{{ end }}
