<div class="timeline">
  {{ range .context.Site.Data.worldages }}
    {{ $current := .identifier }}
    <a class="zodiac-link" href="{{ .link }}">
      <div class="age
        {{ if in $.context.Params.timeline $current }}current{{ end }}
        {{ if eq $current "chronology" }}chronology{{ end }}">
      {{ .image | safeHTML }}
      {{ if in $.context.Params.timeline $current }}
        <span class="start">{{ .start }}</span>
        <span class="end">{{ .end }}</span>
      {{ end }}
      </div>
    </a>
  {{ end }}
</div>
