{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 mx-xl-auto">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb">
        {{ partial "main/breadcrumb" . -}}
        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
      </ol>
    </nav>
    <h1>{{ .Title }}</h1>
    {{ with .Description -}}
    <div>
      {{ . }}
    </div>
    {{ end -}}
  </div>
</div>
<div class="row row-cols-1 row-cols-lg-2 g-lg-6 card-list">
  {{ $paginator := .Paginate (.Data.Pages) -}}
  {{ range $paginator.Pages -}}
    <div class="card">
      {{- .Scratch.Set "fillImage" "1270x620 Center" -}}
      {{ partial "content/card-image.html" . }}
      <div class="card-body">
        <article>
          <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
          <p>{{ .Params.excerpt | safeHTML }}</p>
          {{ partial "main/blog-meta.html" . -}}
        </article>
      </div>
  </div>
  {{ end -}}
</div>
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 mx-xl-auto">
    {{ $.Scratch.Set "paginator" true }}
    {{ template "_internal/pagination.html" . }}
  </div>
</div>
{{ end }}
