{{ $targetURL := .Get "targetURL" | default "wiki/encyclopedia/" }}
{{ $text := .Get "text" | default "see-all-wiki-entries" }}

{{ $langPrefix := "/" }}
{{ if ne $.Site.Language.Lang "en" }}
  {{ $langPrefix = printf "/%s/" $.Site.Language.Lang }}
{{ end }}
{{ $encyclopediaURL := printf "%s%s" $langPrefix $targetURL }}

<div class="d-flex justify-content-start card-list">
  <a href="{{ $encyclopediaURL }}">
    <div class="card my-1">
      <div class="card-body py-2">
        {{ i18n $text }}&rarr;
      </div>
    </div>
  </a>
</div>
